<div class="team_master_container">
  <div name="teamPosition" class="title">{{ "team" | translate }}</div>
  <div class="img_master_container">
    <div class="first_second_container">
      <div class="first_half_team_container">
        <div class="img_container">
          <a href="https://twitter.com/Misos13" target="_blank">
            <img class="team_card" [lazyLoad]="'../../../assets/team/diego.jpg'" />
          </a>
          <div class="titles_container">
            <h2>
              <p>
                {{ "Developer" | translate }} <br />
                Co-{{ "founder" | translate }} <br />
                Diego <br />
              </p>
            </h2>
          </div>
          <div class="social_container">
            <div class="insta_container">
              <a href="https://www.instagram.com/diegownn/" target="_blank"
                ><img class="insta" src="../../../assets/logos/instagram.svg"
              /></a>
            </div>
            <div class="twitter_container">
              <a href="https://twitter.com/Misos13" target="_blank"
                ><img class="twitter" src="../../../assets/logos/twitter.svg"
              /></a>
            </div>
            <div class="linkedin_container">
              <a href="https://www.linkedin.com/in/diego-amarilla/" target="_blank">
                <img class="twitter" src="../../../assets/logos/linkedin.png" />
              </a>
            </div>
          </div>
        </div>
        <div class="img_container">
          <a href="https://www.instagram.com/juan.__toledo/" target="_blank">
            <img class="team_card" [lazyLoad]="'../../../assets//team/juan.jpg'" />
          </a>
          <div class="titles_container">
            <h2>
              <p>
                {{ "Developer" | translate }} <br />
                Co-{{ "founder" | translate }} <br />
                Juan
              </p>
            </h2>
          </div>
          <div class="social_container">
            <div class="insta_container">
              <a href="https://www.instagram.com/juan.__toledo/" target="_blank"
                ><img class="insta" src="../../../assets/logos/instagram.svg"
              /></a>
            </div>
            <div class="twitter_container">
              <a href="https://twitter.com/tol84525901" target="_blank"
                ><img class="twitter" src="../../../assets/logos/twitter.svg"
              /></a>
            </div>
            <div class="linkedin_container">
              <a href="https://www.linkedin.com/in/juan-toledo-0b5bb813b/" target="_blank">
                <img class="twitter" src="../../../assets/logos/linkedin.png" />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="second_half_team_container">
        <div class="img_container">
          <a href="https://www.instagram.com/traficantedearte8/" target="_blank">
            <img class="team_card" [lazyLoad]="'../../../assets/team/mauri.jpg'" />
          </a>
          <div class="titles_container">
            <h2>
              <p>
                {{ "Designer" | translate }} <br />
                Mauri
              </p>
            </h2>
          </div>
          <div class="social_container">
            <div class="insta_container">
              <a
                href="https://www.instagram.com/traficantedearte8/"
                target="_blank"
              >
                <img class="insta" src="../../../assets/logos/instagram.svg" />
              </a>
            </div>
            <div class="twitter_container">
              <a href="https://twitter.com/sonsofgodsnft" target="_blank"
                ><img class="twitter" src="../../../assets/logos/twitter.svg"
              /></a>
            </div>
            <div class="linkedin_container">
              <a href="https://www.linkedin.com/in/mauricio-rodriguez-744a0023b/" target="_blank">
                <img class="twitter" src="../../../assets/logos/linkedin.png" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="third_half_team_container">
      <div class="img_container">
        <a href="https://twitter.com/FicoEspeleta2" target="_blank">
          <img class="team_card" [lazyLoad]="'../../../assets/team/fico.jpg'" />
        </a>
        <div class="titles_container">
          <h2>
            <p>
              {{ "Community Manager" | translate }} <br />
              Fico
            </p>
          </h2>
        </div>
        <div class="social_container">
          <div class="insta_container">
            <a href="https://www.instagram.com/ficoespeleta/" target="_blank"
              ><img class="insta" src="../../../assets/logos/instagram.svg"
            /></a>
          </div>
          <div class="twitter_container">
            <a href="https://twitter.com/FicoEspeleta2" target="_blank">
              <img class="twitter" src="../../../assets/logos/twitter.svg" />
            </a>
          </div>
          <div class="linkedin_container">
            <a href="https://www.linkedin.com/in/federico-e-a9014ab9/" target="_blank">
              <img class="twitter" src="../../../assets/logos/linkedin.png" />
            </a>
          </div>
        </div>
      </div>
      <div class="img_container">
        <a href="https://twitter.com/FicoEspeleta2" target="_blank">
          <img class="team_card" [lazyLoad]="'../../../assets/team/alan.jpg'" />
        </a>
        <div class="titles_container">
          <h2>
            <p>
              {{ "Community Manager" | translate }} <br />
              Alan
            </p>
          </h2>
        </div>
        <div class="social_container">
          <div class="insta_container">
            <a
              href="https://www.instagram.com/alan_mdls/?hl=es-la"
              target="_blank"
              ><img class="insta" src="../../../assets/logos/instagram.svg"
            /></a>
          </div>
          <div class="twitter_container">
            <a href="https://twitter.com/sonsofgodsnft" target="_blank">
              <img class="twitter" src="../../../assets/logos/twitter.svg" />
            </a>
          </div>
          <div class="linkedin_container">
            <a href="https://www.linkedin.com/in/alan-mendez-3a5815238/" target="_blank">
              <img class="twitter" src="../../../assets/logos/linkedin.png" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
