<footer>
    <div class="footer">
       <div class="copyright">
          <div class="container">
             <div class="found_us_container">
                <div class="title">Found us on:</div>
                <div class="logos_container">
                  <div class="nftCalendar_container">
                     <a href="https://nftcalendar.io/event/sons-of-gods-wl-spots-remaining/" target="_blank"><img [lazyLoad]="'../../../assets/promotions_webs/nftCallendar.png'" alt="_blank"></a>
                  </div>
                  <div class="nftCalendar_container">
                     <a href="https://raritysniper.com/nft-drops-calendar" target="_blank"><img [lazyLoad]="'../../../assets/promotions_webs/raritySniper.png'" alt="_blank"></a>
                  </div>
                </div>
             </div>
             <div class="row">
                <div class="col-md-12">
                   <h3>2022 {{'Birth of Sons of Gods' | translate}}</h3>
                   <h3>{{'Made by' | translate}} 33K</h3>
                </div>
             </div>
          </div>
       </div>
    </div>
</footer>
