<app-loader id="loader_div" class="" *ngIf="isShowing"> </app-loader>
<app-header id="head" class="notShow"> </app-header>
<div id="master" class="master_container">
  <app-particles> </app-particles>
  <app-banner> </app-banner>
  <app-gallery-dos id="sonsPosition"></app-gallery-dos>
  <app-lore id="lorePosition"> </app-lore>
  <app-roadmap id="roadmapPosition"> </app-roadmap>
  <app-gods> </app-gods>
  <app-team id="teamPosition"> </app-team>
  <app-faq id="faqPosition"> </app-faq> 
  <app-footer> </app-footer>
</div>
