<div class="gods_master_container">
  <div class="title">{{ "gods" | translate }}</div>
  <div class="gods_swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <div class="swiper-zoom-container">
          <img src="../../../assets/gods/poseidonhdri.jpg" />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-zoom-container">
          <img src="../../../assets/gods/zeushdri.jpg" />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-zoom-container">
          <img src="../../../assets/gods/ares.jpeg" />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-zoom-container">
          <img src="../../../assets/gods/atenea.jpg" />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-zoom-container">
          <img src="../../../assets/gods/hades.jpg" />
        </div>
      </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="god_swiper-button-prev"></div>
    <div class="god_swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
  </div>
</div>
