<div class="lore_master_container">
  <div class="title">{{'lore' | translate}}</div>

  <swiper
    [navigation]="true"
    class="mySwiper"
    [slidesPerView]="1"
    [spaceBetween]="100"
    [pagination]="{
      clickable: true
    }"
    [scrollbar]="{ draggable: true }"
  >
    <ng-template swiperSlide>
      <div class="swiper-zoom-container">
        <!-- {{'Al comienzo, todo el espacio tiempo era caos. Nuestro universo fue forjado' | translate}}
        {{'por un evento hasta el momento indescifrable. Éste desprendió la' | translate}}
        {{'suficiente energíapara idear a doce deidades diferentes. Fue así como' | translate}}
        {{'nacieron los doce grandes creadores. Estos seres de incalculable poder,' | translate}}
        {{'ambiguos rasgos físicos y una inteligencia capaz de lograr lo' | translate}}
        {{'inimaginable, fueronlo que comenzaron nuestra historia. Los doce grandes' | translate}}
        {{'vagaban sin una razón de ser por las diferentes galaxias, notenían' | translate}}
        {{'objetivos, solo contaban con ellos mismos, el aburrimiento y la' | translate}}
        {{'soledad. Fueron estos sentimientos los quedespertaron el interés de organizarse,' | translate}}
        {{'crearon nuestro sistema planetario y se enfocaron en nuestro mundo.' | translate}} -->
        
        {{'In the beginning, everything was chaos.' | translate}}
        {{'Our universe was forged by an event we do not yet understand.' | translate}}
        {{'This created enough energy to devise twelve different divine entities.' | translate}}
        {{'This is how the twelve great creators were born.' | translate}}
        {{'These beings of vast power, ambiguous physical traits and intelligence that' | translate}}
        {{'allowed them to be able to achieve unimaginable things, were the ones who started our story.' | translate}}
        {{'The big twelve drifted through different galaxies without a reason. Without a purpose.' | translate}} 
        {{'They only had themselves, boredom and loneliness. It was these feelings that sparked their interest' | translate}}
        {{'in building a new world. They created our planetary system and then focused on our world.' | translate}} 
        {{'Firstly, they created humans. They divided them into twelve different civilizations and a peaceful coexistence was established.' | translate}}
      </div>
    </ng-template>
    <ng-template swiperSlide> 
      <div class="swiper-zoom-container">      
        
       {{'They devised time and defined its criteria and limits. Simultaneously, every single' | translate}}
       {{'one of them claimed their own dimensions, feelings and unique properties. One of them took fear to rule' | translate}}
       {{'over, another one seized time. Ego was selected as well, followed by order and destiny. But not all the' | translate}}
       {{'divine entities chose to reveal their qualities. There were the ones who kept it a secret, and they are' | translate}}
       {{'sworn to secrecy, to this day.' | translate}}
       {{'This agreement is known to this day as the universal oath.' | translate}}
       {{'Our lands were fully inhabited, the agreement was kept throughout the centuries,' | translate}} 
       {{'which allowed a peaceful coexistence between the different civilizations.' | translate}}
       {{'With similar physical characteristics, a noticeable lack of grace,' | translate}}
       {{'and an almost identical behavior that the humans had, it only took a little of time to bore the divine entities.' | translate}}
       {{'In a new treaty, the creators agreed to give up their absolute powers and grant humans their free will.' | translate}}
       {{'The new humans, faced by this new freedom, assumed the different dimensions,' | translate}} 
       {{'feelings and properties as their own.' | translate}}

      </div>
      </ng-template>
    <ng-template swiperSlide>
      <div class="swiper-zoom-container">
        <!-- {{'Nuestras tierras fueron habitadas en su totalidad. El pacto fue respetado' | translate}}
        {{'a lo largo de los siglos, lo que permitió unaconvivencia pacífica entre' | translate}}
        {{'las distintas civilizaciones. Con similares rasgos, notoria falta de' | translate}}
        {{'gracia y con unfuncionamiento casi idéntico, solo bastó un poco de tiempo' | translate}}
        {{'para aburrir a las deidades. En un nuevo pacto, los creadores acordaron' | translate}}
        {{'renunciar a su poder absoluto y otorgar a los humanos el libre' | translate}}
        {{'albedrío.Los nuevos humanos, ante esta nueva libertad asumieron como' | translate}}
        {{'propias las diferentes dimensiones, sentimientos ymagnitudes. El amor, el' | translate}}
        {{'odio y la fe cambiaron completamente su naturaleza.' | translate}} -->

        {{'All this love, hatred, and faith completely changed their nature rules.' | translate}}
        {{'These emotions were the ones that started a conflict that transformed peaceful civilizations into empires of great vigilance and fear.' | translate}} 
        {{'The faith of the humans let them discover new divine entities of different characteristics and powers,' | translate}} 
        {{'turning destiny into the most mighty concept of all.' | translate}}
        {{'Each of the empires associated their faith with a symbol that represented a reason to live.' | translate}} 
        {{'After a while these new gods displaced the great creators and to this day we do not know where they are. The universal oath as we know it does no longer exist.' | translate}} 
        {{'Are you ready to risk your faith? Immerse yourself in the lore and become a Son of Gods.' | translate}}
      </div>
    </ng-template>
  </swiper>
  

  <!-- <div class="player_container">
    <ngx-audio-player
      class="player"
      [playlist]="msaapPlaylist"
      [displayTitle]="msaapDisplayTitle"
      [autoPlay]="false"
      muted="muted"
      [displayPlaylist]="msaapDisplayPlayList"
      [pageSizeOptions]="msaapPageSizeOptions"
      [displayArtist]="msaapDisplayArtist"
      [displayDuration]="msaapDisplayDuration"
      [expanded]="false"
      [displayVolumeControls]="msaapDisplayVolumeControls"
      [displayRepeatControls]="msaapDisplayRepeatControls"
      [disablePositionSlider]="msaapDisablePositionSlider"
    ></ngx-audio-player>
  </div> -->
</div>
