<div class="gallery_master_container" #secondSection>
  <div class="title">{{ "meet the sons" | translate }}</div>

  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <div class="swiper-zoom-container">
          <img src="../../../assets/warriors/sinchaleco.jpg" />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-zoom-container">
          <img src="../../../assets/warriors/warrior333.jpg" />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-zoom-container">
          <img src="../../../assets/warriors/warrior444.jpg" />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-zoom-container">
          <img src="../../../assets/warriors/oro.jpg" />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-zoom-container">
          <img src="../../../assets/warriors/warrior555.jpg" />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-zoom-container">
          <img src="../../../assets/warriors/warrior7777.jpg" />
        </div>
      </div>
      <!-- <div class="swiper-slide">
        <div class="swiper-zoom-container">
          <img src="../../../assets/galeria1.jpeg" />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-zoom-container">
          <img src="../../../assets/galeria4.jpeg" />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-zoom-container">
          <img src="../../../assets/galeria3.jpeg" />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-zoom-container">
          <img src="../../../assets/galeria2.jpeg" />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-zoom-container">
          <img src="../../../assets/galeria5.jpg" />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-zoom-container">
          <img src="../../../assets/galeria6.jpg" />
        </div>
      </div> -->
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
  </div>
</div>
